<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-menu-button></ion-menu-button>-->
<!--    </ion-buttons>-->
<!--    <ion-title>{{ folder }}</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>

  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
    style="height:100%;padding: 5px;">
    <div fxFlex fxFlexAlign="stretch" style="background-color: #1e2023">
      <ng-scrollbar class="default-scroll">
        <app-video videoId="WETIV8nTu60" [startTimer]="startTimer"></app-video>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </ng-scrollbar>
    </div>
    <div fxFlex="30" fxFlexAlign="stretch">

      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlexFill
        class="chat">

<!--        <div fxFlex="10" fxFlexAlign="stretch" class="chat-header">-->
<!--          <h3>My Title</h3>-->
<!--        </div>-->

        <div fxFlex="70" fxFlexAlign="stretch" class="chat-messages">
          <app-chat></app-chat>
        </div>

        <mat-divider></mat-divider>

<!--        <div fxFlex fxFlexAlign="stretch" class="chat-poll ion-hide">Enquete</div>-->

        <div fxFlex="30" fxFlexAlign="stretch" class="chat-footer py-1 px-3">

          <form #messageForm (ngSubmit)="sendMessage($event)">

            <div fxLayout="column" fxLayoutAlign="space-evenly" class="w-100 h-100">

              <div fxFlex>

                <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

                  <div fxFlex>
                    <mat-form-field class="message-target">
                      <mat-select [(ngModel)]="messageTarget" name="target">
                        <mat-option value="all">Enviar para todos</mat-option>
                        <mat-option value="admin">Enviar para equipe</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div fxFlex>
                    <mat-checkbox [(ngModel)]="messageQuestion" name="question">
                      Enviar como dúvida
                    </mat-checkbox>
                  </div>

                </div>

              </div>

              <div fxFlex>

                <div fxLayout="column">

                  <div fxFlex class="message-replyTo" *ngIf="selectedMessage">
                    <div class="message-quote px-2 pt-2 pb-1 mb-1">
                      <span class="message-tag highlight-text highlight-bg">{{ selectedMessage.sender.fullName }}</span>
                      {{selectedMessage.content}}
                      <span class="message-unquote h-100" (click)="removeSelectedMessage()">╳</span>
                    </div>
                  </div>

                  <mat-form-field class="message-input" appearance="outline">
                    <mat-label>Escreva uma mensagem...</mat-label>
                    <input matInput [(ngModel)]="messageContent" name="content" autocomplete="off" />
                    <button type="submit" mat-icon-button matSuffix>
                      <mat-icon>send</mat-icon>
                    </button>
                  </mat-form-field>
                </div>

              </div>

            </div>

          </form>

        </div>

      </div>

    </div>
  </div>

</ion-content>

