ion-menu-button {
  color: var(--ion-color-primary);
}

::ng-deep {
  ng-scrollbar.default-scroll {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: darkgray;
    --scrollbar-hover-size: 12px;
    --scrollbar-track-color: #262626;
    --scrollbar-border-radius: 10px;
  }
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  //.chat-header { background-color: #3a7be0; }
  .chat-messages { background-color: rgba(128, 128, 128, .2); }
  //.chat-poll { background-color: #1e3de0; }
  //.chat-footer { background-color: #3a7be0; }

  .chat-poll,
  .chat-footer {
    //flex: 1 auto;
  }

  .chat-messages {
    flex: 1 auto;
  }
}
