<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-menu-button></ion-menu-button>-->
<!--    </ion-buttons>-->
<!--    <ion-title>{{ folder }}</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>

  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
    style="height:100%;padding: 5px;">
    <div fxFlex fxFlexAlign="stretch" style="background-color: #1e2023">
      <ng-scrollbar class="default-scroll">
        <app-video videoId="WETIV8nTu60" [startTimer]="startTimer"></app-video>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </ng-scrollbar>
    </div>
    <div fxFlex="30" fxFlexAlign="stretch">

      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="chat"
        style="height:100%;">

        <div fxFlex="10" fxFlexAlign="stretch" class="chat-header">
          <h3>My Title</h3>
        </div>

        <div fxFlex fxFlexAlign="stretch" class="chat-messages">
          <app-chat></app-chat>
        </div>

        <div fxFlex fxFlexAlign="stretch" class="chat-poll ion-hide">Enquete</div>

        <div fxFlex fxFlexAlign="stretch" class="chat-footer ion-hide">Footer</div>

      </div>

    </div>
  </div>

</ion-content>

