.timestamps-title,
.timestamps-list {
  padding: 0 24px;
}

.timestamps-title {
  font-size: 12px;
}

.timestamps-list {
  font-size: 12px;
  list-style: none;
}

.timestamps-list li {
  cursor: pointer;
}
