/*

https://ionicframework.com/docs/layout/grid#customizing-the-grid

--ion-grid-width-xs:              100%;
--ion-grid-width-sm:              540px;
--ion-grid-width-md:              720px;
--ion-grid-width-lg:              960px;
--ion-grid-width-xl:              1140px;

*/

$breakpoint-xs: 0;
$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1140px;
$breakpoint-hd: 1280px;
