$spacer: 1rem !default;

$spacers: () !default;
$spacers: map-merge((
  0: 0,
  half: ($spacer * .175),
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

$spacer-naked: 1 !default;

$spacers-rem: () !default;
$spacers-rem: map-merge((
  0: 0rem,
  half: #{($spacer-naked * .175)}rem,
  1: #{($spacer-naked * .25)}rem,
  2: #{($spacer-naked * .5)}rem,
  3: #{$spacer-naked}rem,
  4: #{($spacer-naked * 1.5)}rem,
  5: #{($spacer-naked * 3)}rem
), $spacers-rem);
