<div class="videoplayer">
  <youtube-player
    [videoId]="videoId"
    [playerVars]="playerVars"
    (ready)="savePlayer($event)"
    #screen
  ></youtube-player>

  <div class="videoplayer-info">
    <h2>{{ videoTitle }}</h2>
    <span>
      <a class="head-button" (click)="takePicture()">
        <mat-icon>add_a_photo</mat-icon>
        <span>Fotografar</span>
      </a>
      <mat-icon>visibility</mat-icon>
      <span>6.501</span>
      <mat-icon>schedule</mat-icon>
      <span>{{ videoDuration }}</span>
    </span>
  </div>

  <app-timestamps [subjects]="listTimestamps" (selectTimestamp)="onChangeTime($event)"></app-timestamps>
</div>
