.w-100 { width: 100%; }
.h-100 { height: 100%; }
.text-center { text-align: center; }
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-none { display: none; }

mat-list-item.message {
  &:hover {
    background-color: rgba(32, 32, 32, .5);

    .message-quote-trigger {
      display: inline-block;
      cursor: pointer;
    }
  }
}
.valign-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: text-top;
}

.message-name {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: .85em;
}

.message-content {
  font-size: .825em;
}

.message-vote {
  user-select: none;

  mat-icon {
    &:hover {
      cursor: pointer;
    }
  }

  mat-icon.message-upvote,
  mat-icon.message-downvote {
    &.is-disabled {
      opacity: .3;
    }
  }

  mat-icon.message-upvote {
    &.is-voted,
    &:hover {
      color: lightgreen;
      opacity: 1;
    }
  }
  mat-icon.message-downvote {
    &.is-voted,
    &:hover {
      color: lightcoral;
      opacity: 1;
    }
  }

  .message-score {
    font-size: .725em;

    &.is-upvoted {
      color: lightgreen;
    }
    &.is-downvoted {
      color: lightcoral;
    }
  }
}

.message-chip {
  font-size: .725em;
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, .3);
  font-weight: bold;
}

.is-highlighted {
  color: #3b93fa;
  background-color: rgba(58, 123, 224, .3);
}

.highlight-text {
  color: #3b93fa;
}
.highlight-bg {
  background-color: rgba(58, 123, 224, .3);
}

.message-badge {
  width: 15px !important;
  height: 15px !important;
  font-size: .85em;
}

.message-quote {
  font-size: .725em;
  border-left: 2px #3b93fa solid;
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  line-height: 1.5;
  background-color: rgba(102, 102, 102, 0.2);
  display: block;
}

.message-tag {
  font-weight: bold;
  border-radius: 2px;
  padding: 2px 3px;
}

.message-replyTo {
  .message-quote {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  .message-unquote {
    //font-size: .725em;
    background-color: #364968;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-flex;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.3);
    }
  }
}

